/* experimental elements */
#weather_panel{
    width:30%;
    height:50%;
    min-width:300px;
    min-height:450px;
}

iframe.video{
    width: 30%;
    min-width: 300px;
    min-height: 180px;
}

/* media elements*/
img.rounded {
    height: 28%;
    width: 28%;
    border-radius: 50%;
    object-fit: cover;
    min-width: 240px;
}

.square{
    height: 7px;
    width: 15%;
    background-color: #164e98;
    margin:auto;
}

/*  */
body{
    padding: .5% 7% 0% 7%;
    text-align: center;
    margin: auto;
}

/* Text styles */
h1{
    font-size: 2.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #164e98;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

p {
    text-align: center;
    margin: auto;
    border-top-width: 15px;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #164e98;
    text-decoration: none;
}
a:hover {
    color: black;
  }

  /* List elements */
ul{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    color: #164e98;    
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:-.8vw;
}

li {
    display: inline;
    position:relative;
    padding: 1vw 13px 13px 1vw;
    margin:auto;
}

.navbar{
    margin-top: 0;
    margin-left: 31%;
    margin-right: 30%;
    max-width: 39%;
}
