body{
    padding: 2% 7% 7% 6%;
}

div{
    margin:auto;
}

p {
    border-top-width: 15px;
    font-family: 'Roboto', sans-serif;
}

u{
    text-decoration: underline;
}

h1{
    color: #164e98;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a{
    color: #164e98;
    text-decoration: none;
}
