/*
selector guide
https://www.w3schools.com/cssref/css_selectors.asp
*/


/* experimental elements */

/*===MEDIA QUERY OVERRIDES===*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container{
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .container{
        width: 75%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 50%;
    }
 }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        width: 50%;
    }
}

/* media elements*/

#image-link{
    padding-left:0;
    padding-right:0;
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.square{
    height: 6px;
    width: 20%;
    background-color: #164e98;
}

/* formatting */
.content{
    margin-left:30%;
    margin-right:30%;
}

body{
    /*padding: .5% 7% 0% 7%;
    margin: auto;*/
}

/* Text styles */
h1{
    font-size: 2.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h2{
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
}

h3{
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
}

h4{
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
}

p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    /*THIS IS THE IMPORTANT PADDING*/
    /*padding-right: 10%;*/
    
}

a{
    /* for exploration https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */ 
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid  rgb(215, 215, 215);
}
a:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(215, 215, 215);
}
#nav-link{
    padding-right: 5px;
    padding-left: 5px;
    /* optional underline*/
    border-bottom: 0px solid rgb(255, 255, 255);
}

a:visited {
    /*color: #164e98;*/
}
a img{
    padding-right: none;
    padding-left: none;
    background-color: rgb(255, 255, 255);
}

  /* Navigation bar elements */
ul{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    color: #164e98;    
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:-.8vw;
    text-decoration: none;
}

li {
    display: inline;
    position:relative;
    padding: 1vw 13px 13px 1vw;
    margin:auto;
    text-decoration: none;
}

.navbar{
    margin-top: 1%;
    margin-left: 30%;
    max-width: 39%;
    text-decoration: none;
}
