/*
table of contents
-experimental elements
-media (images/video)
-text 
-navigation bar  
*/


/* experimental elements */

/*===MEDIA QUERY OVERRIDES===*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container{
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .container{
        width: 75%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 50%;
    }
 }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        width: 50%;
    }
}

/* media elements*/
#weather_panel{
    width:30%;
    height:50%;
    min-width:300px;
    min-height:270px;
}

iframe.video{
    width:100%;
    min-height:23vw;
    /*min-width:320px;
    min-height:180px;*/
}

img.rounded {
    /*height: 25%;
    width: 25%;
    border-radius: 50%;
    object-fit: cover;
    min-width: 240px;*/
    max-width: 300px;
}

.square{
    height: 6px;
    width: 20%;
    background-color: #164e98;
}

/* formatting */
.content{
    margin-left:30%;
    margin-right:30%;
}

body{
    /*padding: .5% 7% 0% 7%;
    margin: auto;*/
}

/* Text styles */
h1{
    font-size: 2.7em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #164e98;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #164e98;    
    text-decoration: none;
}

p {
    text-align: left;
    border-top-width: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20%;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(214, 214, 214);
}

a:visited {
    /*color: #164e98;*/
}

  /* Navigation bar elements */
ul{
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    color: #164e98;    
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:-.8vw;
    text-decoration: none;
}

li {
    display: inline;
    position:relative;
    padding: 1vw 13px 13px 1vw;
    margin:auto;
    text-decoration: none;
}
#nav{
    text-decoration: none;
}

.navbar{
    margin-top: 1%;
    margin-left: 30%;
    max-width: 39%;
    text-decoration: none;
}
